body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  text-align: center;
}

.Container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 400px;
  margin: 75px;
}

.cell {
  font-family: Arial, sans-serif;
  width: 125px;
  height: 125px;
  box-shadow: navy;
  border: 1px solid black;
  cursor: pointer;
  line-height: 125px;
  font-size: 75px;
}