<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><div id="itemDiv"></div></p>
    <button onclick="BuyItem()">Buy item</button> <br></br>
    <p><div id="item2Div"></div></p>
    <button onclick="BuyItem()">Buy item</button>
    <p><div id="item3Div"></div></p>
    <button onclick="BuyItem()">Buy item</button>
</body>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
<script src= "templates.js"></script>
</html>